html {
    font-family: sans-serif;
  }

body {
    font-size: 10px;

    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    padding: 0px;
}

h1 {
    font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    line-height: 4.5rem;
    padding-top: 4rem;
}

p, label, input {
    font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: gray;
}


.lastResult {
    color: white;
    padding: 3px;
}